.about-kb {
  height: 100vh;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

h1 {
  color: black;
}
.about-container {
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .about-card {
    position: absolute;
    display: flex;
    z-index: 999;
    gap: 50px;
  }
  .about-opacity {
    width: 100%;
    opacity: 0.2;
    height: 100%;
  }
  .img-container {
    img {
      max-width: 500px;
      border-top-left-radius: 40px;
      border-bottom-right-radius: 40px;
      opacity: 1;
      object-fit: contain;
    }
  }
  .about-text {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    line-height: 25px;
    #kontakta-btn {
      width: 60%;
      font-size: 15px;
      cursor: pointer;
      border: 1px solid transparent;
      padding: 15px;
      background-color: #1d1d1d;
      color: white;
      border-radius: 10px;
      transition: all 300ms ease-in-out;
      font-family: "Poppins", sans-serif;
    }
    #kontakta-btn:hover {
      background-color: #1d1d1dd5;
      font-size: 16px;
    }
  }
}
